<a href="https://colab.research.google.com/github/ParkSlingshot/-/blob/main/Data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Mount Gdrive

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

#2. Load Data

In [4]:
import pandas as pd

In [5]:
file='/gdrive/MyDrive/data/2021년_1월_영업소간_통행시간.csv'

In [6]:
data=pd.read_csv(file,sep=",",encoding="euc-kr")

#3.Clean Data

In [7]:
data.isnull().sum(axis=0)

집계일자                 0
집계시                  0
출발영업소코드              0
도착영업소코드              0
TCS차종구분코드            0
통행시간                 0
Unnamed: 6    24767718
dtype: int64

In [8]:
data.columns

Index(['집계일자', '집계시', '출발영업소코드', '도착영업소코드', 'TCS차종구분코드', '통행시간', 'Unnamed: 6'], dtype='object')

In [9]:
cleandata=data.drop(['Unnamed: 6'],axis='columns')

In [10]:
cleandata.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20210101   18        0      101          1    -1
1  20210101   18        0      101          3    -1
2  20210101   18        0      101          4    -1
3  20210101    9        0      101          3    -1
4  20210101    9        0      101          2    -1

In [11]:
data=cleandata[cleandata.통행시간>0]

In [12]:
data.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
7684  20210101   21      101      102          3   617
7686  20210101   21      101      102          1   601
7687  20210101   21      101      102          2   644
7688  20210101   21      101      102          6   600
7689  20210101   17      101      102          3   612

#4.Select Data
101서울, 105기흥, 110목천, 115대전, 120황간, 125남구미, 130동김천, 135경주, 140부산

In [18]:
df_data=pd.DataFrame(data,columns=['집계일자', '집계시', '출발영업소코드', '도착영업소코드', '통행시간'])

In [19]:
df_data.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간
7684  20210101   21      101      102   617
7686  20210101   21      101      102   601
7687  20210101   21      101      102   644
7688  20210101   21      101      102   600
7689  20210101   17      101      102   612

In [21]:
data=df_data

In [29]:
long_distance=data.통행시간>700

In [27]:
start_seoul=data[data.출발영업소코드==101]

In [28]:
start_seoul

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간
7684      20210101   21      101      102    617
7686      20210101   21      101      102    601
7687      20210101   21      101      102    644
7688      20210101   21      101      102    600
7689      20210101   17      101      102    612
...            ...  ...      ...      ...    ...
24767215  20210131   18      101      620  12498
24767219  20210131    8      101      556  13091
24767332  20210131   16      101      741   1847
24767427  20210131   21      101      224  10449
24767586  20210131   16      101      107   2009

[254619 rows x 5 columns]

In [34]:
#101서울, 105기흥, 110목천, 115대전, 120황간, 125남구미, 130동김천, 135경주, 140부산
start_101_to_140=[start_seoul['도착영업소코드'].isin([105,110,115,120,125,130,135,140])]